<module>
	<rawname>contactdir</rawname>
	<name>Contact Directory</name>
	<version>2.10.0.9</version>
	<publisher>Schmoozecom.com</publisher>
    <license>Commercial</license>
	<repo>unsupported</repo>
	<category>Settings</category>
	<description>Add servers users can import contacts from</description>
	<changelog>
		2.10.0.9 fix errant div closure
		2.10.0.8 moved to settings from admin
		2.10.0.7 ari bug fixes
		2.10.0.6 re #1245 - quote first and last name in user panel
		2.10.0.5 Security update; downstream changes
		2.10.0.4 Security update; downstream changes
		2.10.0.3 Security update; downstream changes
	</changelog>
	<depends>
		<version>2.5.0</version>
	</depends>
	<menuitems>
		<contactdir>Contact Directory Servers</contactdir>
	</menuitems>
	<location>release/2.11/contactdir-2.10.0.9.tgz</location>
	<md5sum>96137831fcaafa17c009cc99b97185d8</md5sum>
<supported><version>2.10</version></supported></module>
